In [1]:
!pip install faker

Requirement already satisfied: faker in c:\users\tahaa\anaconda3\lib\site-packages (33.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\tahaa\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\tahaa\anaconda3\lib\site-packages (from faker) (4.9.0)
Requirement already satisfied: six>=1.5 in c:\users\tahaa\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [3]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\tahaa\anaconda3\lib\site-packages (33.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\tahaa\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\tahaa\anaconda3\lib\site-packages (from Faker) (4.9.0)
Requirement already satisfied: six>=1.5 in c:\users\tahaa\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [5]:
import random
import pandas as pd
from faker import Faker

In [7]:
fake = Faker('tr_TR') # Türkçe sahte veri üretmek için

In [9]:
random.seed(42)
Faker.seed(42)

In [15]:
# Step 1: Generate `page_visits` table
def generate_page_visits(num_visitors=1000):
    pages = ["homepage", "product_page", "cart", "checkout"]
    page_visits = []

    for visitor_id in range(1, num_visitors + 1):
        # Each user visits a random number of pages in sequence
        visit_sequence = random.sample(pages, k=random.randint(2, len(pages)))
        for page in visit_sequence:
            visit_timestamp = fake.date_time_this_year()
            page_visits.append({
                "visitor_id": visitor_id,
                "page": page,
                "visit_timestamp": visit_timestamp
            })

    return pd.DataFrame(page_visits)

In [19]:
# Step 2: Generate `orders` table
def generate_orders(num_orders=300, max_visitors=1000):
    orders = []
    for order_id in range(1, num_orders + 1):
        visitor_id = random.randint(1, max_visitors)
        order_timestamp = fake.date_time_this_year()
        amount = random.randint(50, 500)  # Random order amount
        orders.append({
            "order_id": order_id,
            "visitor_id": visitor_id,
            "order_timestamp": order_timestamp,
            "amount": amount
        })

    return pd.DataFrame(orders)

In [21]:
# Generate data
page_visits_df = generate_page_visits(num_visitors=500)
orders_df = generate_orders(num_orders=150, max_visitors=500)

In [27]:
# Save data to CSV
page_visits_path = "page_visits_2.csv"
orders_path = "orders_2.csv"

In [29]:
page_visits_df.to_csv(page_visits_path, index=False)
orders_df.to_csv(orders_path, index=False)

In [31]:
# Display first rows of both datasets
page_visits_df.head(), orders_df.head()

(   visitor_id          page     visit_timestamp
 0           1      homepage 2024-09-05 07:53:23
 1           1      checkout 2024-02-13 05:40:50
 2           1  product_page 2024-01-10 17:07:01
 3           1          cart 2024-10-14 23:45:05
 4           2  product_page 2024-04-16 19:27:32,
    order_id  visitor_id     order_timestamp  amount
 0         1         255 2024-06-08 12:42:05      61
 1         2          47 2024-01-17 22:49:20     251
 2         3         259 2024-05-03 13:37:05     284
 3         4         495 2024-10-16 05:09:18     173
 4         5         111 2024-07-02 16:27:29     348)

In [33]:
# Yöntem 2

In [6]:
# Customers verileri oluşturma (1000 satır)
customers_data = []
for i in range(1, 1001):
    customers_data.append([i, fake.name(), fake.email(), fake.city(), fake.address()])
customers_df = pd.DataFrame(customers_data, columns=['customer_id', 'name', 'email', 'city', 'address'])

In [10]:
customers_df.head()

,customer_id,name,email,city,address
0,1,Öğr. Büreyre Melikkan Şener,uihsanoglu@example.com,New Umuşan,"640 Eraslan Cliffs Apt. 142\nÇamurcuoğlumouth,..."
1,2,Öğr. Bağdat Akça Bilge,lhancer@example.com,Zenginton,"18370 Zorlu Plains\nSouth Duracanside, TN 16320"
2,3,Doç. Koldan Bekbay Güçlü,eraslancagdan@example.net,New Orgünstad,"6027 Akçay Station Apt. 031\nUmutcantown, NC 2..."
3,4,Dr. Temime Fayize Gül,seneremrullah@example.org,Ayyarukborough,"20265 Akar Forge\nLake Yetişal, LA 97095"
4,5,Bay Akalan Tevetoğlu,teberkisakurek@example.net,South Zöhrehan,Unit 6395 Box 6659\nDPO AP 71941

In [12]:
# Products Verileri Oluşturma (1000 satır)
products_data = []
categories = ['Elektronik', 'Giyim', 'Ev & Yaşam', 'Kozmetik', 'Spor']
for i in range(1, 1001):
    products_data.append([i, fake.word().capitalize() + ' ' + fake.word().capitalize(), random.choice(categories), round(random.uniform(10, 2000), 2), random.randint(10, 200)])
products_df = pd.DataFrame(products_data, columns=['product_id', 'name', 'category', 'price', 'stock'])

In [14]:
products_df.head()

   product_id                   name    category    price  stock
0           1  Adipisci Voluptatibus    Kozmetik  1189.14    164
1           2       Magni Voluptatum  Elektronik   198.32    173
2           3       Expedita Dolores    Kozmetik   858.35    119
3           4              Nobis Hic  Elektronik  1058.28     55
4           5           At Voluptate        Spor  1107.18     73

In [16]:
# Orders verileri oluşturma (1000 satır, customer_id değerleri customers_df'den)
orders_data = []
for i in range(1, 1001):
    orders_data.append([i, random.choice(customers_df['customer_id']), fake.date_between(start_date='-60d', end_date='today')])
orders_df = pd.DataFrame(orders_data, columns=['order_id', 'customer_id', 'order_date'])

In [18]:
orders_df.head()

   order_id  customer_id  order_date
0         1          864  2024-11-18
1         2          669  2024-11-12
2         3          636  2024-11-05
3         4          450  2024-10-13
4         5          178  2024-10-15

In [20]:
# Order Items verileri oluşturma (1000 satır, customer_id ve product_id değerleri customers_df ve products_df'den)
order_items_data = []
for i in range(1, 1001):
    order_id = random.choice(orders_df['order_id'])
    product_id = random.choice(products_df['product_id'])
    order_items_data.append([i, order_id, product_id, random.randint(1, 50), products_df.loc[products_df['product_id'] == product_id, 'price'].iloc[0]])
order_items_df = pd.DataFrame(order_items_data, columns=['order_item_id', 'order_id', 'product_id', 'quantity', 'unit_price'])

In [22]:
order_items_df.head()

   order_item_id  order_id  product_id  quantity  unit_price
0              1        32         412         5      951.17
1              2       120         250         4      862.17
2              3       393         340        22     1636.44
3              4       161         344         1     1141.95
4              5       722         299        19      524.34

In [24]:
# Page Visits verileri oluşturma (1000 satır, customer_id değerleri customers_df'den)
page_visits_data = []
for i in range(1, 1001):
    page_visits_data.append([i, random.choice(customers_df['customer_id']), fake.uri_path(), fake.date_time_between(start_date='-30d', end_date='now'), random.randint(5, 300)])
page_visits_df = pd.DataFrame(page_visits_data, columns=['visit_id', 'customer_id', 'page_url', 'visit_timestamp', 'time_spent_seconds'])

In [26]:
page_visits_df.head()

,visit_id,customer_id,page_url,visit_timestamp,time_spent_seconds
0,1,508,posts,2024-11-13 21:23:44,89
1,2,321,app,2024-12-05 11:43:57,263
2,3,626,explore/app,2024-11-26 11:22:20,49
3,4,131,blog/tags/app,2024-12-04 08:57:50,98
4,5,975,categories,2024-11-23 15:42:36,74

In [28]:
# Marketing Campaigns verileri oluşturma (20 satır)
marketing_campaigns_data = []
for i in range(1, 21):
    marketing_campaigns_data.append([i, 'Kampanya ' + str(i), fake.date_between(start_date='-60d', end_date='-30d'), fake.date_between(start_date='-29d', end_date='today'), round(random.uniform(1000, 5000), 2)])
marketing_campaigns_df = pd.DataFrame(marketing_campaigns_data, columns=['campaign_id', 'campaign_name', 'start_date', 'end_date', 'cost'])

In [30]:
marketing_campaigns_df.head()

   campaign_id campaign_name  start_date    end_date     cost
0            1    Kampanya 1  2024-11-04  2024-12-04  4644.46
1            2    Kampanya 2  2024-10-26  2024-12-01  3911.64
2            3    Kampanya 3  2024-10-15  2024-12-06  4395.92
3            4    Kampanya 4  2024-11-02  2024-11-16  1297.00
4            5    Kampanya 5  2024-10-21  2024-11-17  4229.24

In [32]:
# Campaign Results verileri oluşturma (1000 satır, customer_id ve campaign_id değerleri customers_df ve marketing_campaigns_df'den)
campaign_results_data = []
for i in range(1, 1001):
    campaign_results_data.append([random.choice(marketing_campaigns_df['campaign_id']), random.choice(customers_df['customer_id']), random.choice([True, False])])
campaign_results_df = pd.DataFrame(campaign_results_data, columns=['campaign_id', 'customer_id', 'conversion'])

In [34]:
campaign_results_df.head()

   campaign_id  customer_id  conversion
0            4           88       False
1           12          768       False
2           11          491        True
3           12          124       False
4            5          811        True

In [36]:
customers_df.info()
products_df.info()
orders_df.info()
order_items_df.info()
page_visits_df.info()
marketing_campaigns_df.info()
campaign_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1000 non-null   int64
 1   name         1000 non-null   object
 2   email        1000 non-null   object
 3   city         1000 non-null   object
 4   address      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   category    1000 non-null   object
 3   price       1000 non-null   float64
 4   stock       1000 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     1000 non-null   int64
 1   customer_id  1000 non-null   int64
 2   order_date   1000 non-null   object
dtypes: int64(2), object(1)
memory usage: 23.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_item_id  1000 non-null   int64
 1   order_id       1000 non-null   int64
 2   product_id     1000 non-null   int64
 3   quantity       1000 non-null   int64
 4   unit_price     1000 non-null   float64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visit_id            1000 non-null   int64
 1   customer_id         1000 non-null   int64
 2   page_url            1000 non-null   object
 3   visit_timestamp     1000 non-null   datetime64[ns]
 4   time_spent_seconds  1000 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 39.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    20 non-null     int64
 1   campaign_name  20 non-null     object
 2   start_date     20 non-null     object
 3   end_date       20 non-null     object
 4   cost           20 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 932.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   campaign_id  1000 non-null   int64
 1   customer_id  1000 non-null   int64
 2   conversion   1000 non-null   bool
dtypes: bool(1), int64(2)
memory usage: 16.7 KB

In [40]:
# Verileri .csv formatında kaydetmek
customers_df.to_csv('customers.csv', index=False)
products_df.to_csv('products.csv', index=False)
orders_df.to_csv('orders.csv', index=False)
order_items_df.to_csv('order_items.csv', index=False)
page_visits_df.to_csv('page_visits.csv', index=False)
marketing_campaigns_df.to_csv('marketing_campaigns.csv', index=False)
campaign_results_df.to_csv('campaign_results.csv', index=False)